# Object files
obj/

# Executables
*.exe
*.out
*.dll
*.so

# Debug files
*.dSYM/

# Build directories
build/
Debug/
Release/

# Other files and directories to ignore
.vscode/
*.swp
*.swo

# Unity
Unity/
